.Rproj.user
.env
app.tmux.conf
bugs/
compiled
congame-doc/doc/
congame-doc/*.html
congame-doc/*.js
congame-doc/*.css
!congame-doc/aux.css
coverage
data-tools/*.RDS
data-tools/*.csv
data-tools/*.rds
dist/
doc/
ip-notifications/
node_modules
static
study-administration/
**/*.rkt~
.DS_Store
*.swp
