!congame-doc/scrbl-aux.css
.DS_Store
.env
.Rproj.user
*.swp
**/*.rkt~
app.tmux.conf
bugs/
build/
compiled
congame-doc/*.css
congame-doc/*.html
congame-doc/*.js
congame-doc/doc/
coverage
data-tools/*.csv
data-tools/*.rds
data-tools/*.RDS
dist/
doc/
ip-notifications/
node_modules
smtp-server-port
static
study-administration/
